body {
}

.navbar-default {
    background-color: #cce5ff;
    border: 1px solid #cce5ff;
    opacity: 0.98;
    font-weight: 600;
}

.navbar-default .navbar-brand {
    color: #0063cc;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #0063cc;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0063cc;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #0063cc;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
    border: none;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: #0063cc;
    border: 1px solid #0063cc;
}


