body {
}

.post-section {
    margin-bottom: 80px;
}

.post-title, .post-category, .post-author, .post-date, .post-summary, .post-content {
    color: black;
    margin-bottom: 25px;
}

.post-title, .comment-title {
    margin-top: 0px;
    font-weight: 800;
    font-size: 30px;
}

.post-category {
    font-size: 17px;
    font-weight: 600;
}

.post-date {
    font-size: 15px;
    font-weight: 600;
}

.post-summary {
    font-size: 14px;
    font-weight: 400;
}

.post-content {
    font-size: 14px;
    font-weight: 400;
}

img {
    width: 100%;
}

.comment-title {
    color: black;
    margin-right: 20px;
}

.comment-count {
    font-size: 14px;
    background-color: #ff2d55;
    border: 1px solid #ff2d55;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    color: #fafafa;
    display: inline-block;
    margin-top: 10px;
}

.master-comment-list-container {
    padding-left: 0;
}

.expand-comment-btn {
    color: #006fe6;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    outline: none;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 3px;
}

.comment-container {
    margin-top: 20px;
}

.comment-info-container {
    display: none;
}

.comment-user, .comment-body {
    color: black;
    overflow-wrap: break-word;
}

.comment-user {
    font-size: 17px;
    margin-right: 8px;
}

.comment-body {
    font-size: 14px;
    font-weight: 400;
}

.show-child-comment-btn {
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
    color: #006fe6;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 30px;
    margin-left: 5px;
}

.show-child-comment-btn:hover {
    color: white;
    background-color: #006fe6;
    border: 1px solid #006fe6;
    border-radius: 3px;
}

.child-comment-list-container {
    padding-left: 50px;
    margin-top: 20px;
}