@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/Bar/nav-bar.css" />
    <link href="@Url.Content("~/Content/Home/category.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home/category_partial.css" />
}

@section scripts {
    <script src="~/Scripts/Home/category_partial.js"></script>
}

@{
    Html.RenderPartial("~/Views/Shared/_SearchBar.cshtml");
}

<div class="container" id="post-block">
    <div class="row">
        @{
            string category = ViewBag.Category;
            Html.RenderAction("CategoryPartial", "Home", category);
        }
    </div>
</div>