@using Blog.Models
@using System.Globalization
@using System.Threading
@model List<PaginationModel<PostCardModel>>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/Bar/nav-bar.css" />
    <link href="@Url.Content("~/Content/Home/home.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home/category_partial.css" />
}

@section scripts {
    <script src="~/Scripts/Home/home.js"></script>
    <script src="~/Scripts/Home/category_partial.js"></script>
}

@{
    Html.RenderPartial("~/Views/Shared/_SearchBar.cshtml");
}

@if (Model == null || Model.Count == 0)
{
    return;
}

<div class="container" id="post-block">
    <div class="row">
        @foreach (PaginationModel<PostCardModel> postCardPaginationModel in Model)
        {
            string category = postCardPaginationModel.Models[0].PostCategory.Name;
            CultureInfo cultureInfo = Thread.CurrentThread.CurrentCulture;
            TextInfo textInfo = cultureInfo.TextInfo;

            <p class="post-category">@textInfo.ToTitleCase(category)</p>
            Html.RenderPartial("~/Views/Home/_CategoryPartial.cshtml", postCardPaginationModel);
        }
    </div>
</div>