@using Blog.Models
@model List<PaginationModel<PostCardModel>>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/Bar/nav-bar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home/post-grid.css" />
}

@section scripts {
    <script src="~/Scripts/Home/post-card-mapper.js"></script>
    <script src="~/Scripts/Home/post-card-factory.js"></script>
    <script src="~/Scripts/Home/post-grid.js"></script>
}

<div class="container content-block">
    <div class="row">
        @{
            Html.RenderPartial("~/Views/Home/_PostGridList.cshtml", Model);
        }
    </div>
</div>