@using Blog.Models
@model List<PaginationModel<PostCardModel>>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/Bar/nav-bar.css" />
    <link href="@Url.Content("~/Content/Home/home.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home/category_partial.css" />
}

@section scripts {
    <script src="~/Scripts/Home/category_partial.js"></script>
}

@if (Model == null || Model.Count == 0)
{
    return;
}

<div class="container" id="post-block">
    <div class="row">
        @foreach (PaginationModel<PostCardModel> postCardPaginationModel in Model)
        {
            Html.RenderPartial("~/Views/Home/_CategoryPartial.cshtml", postCardPaginationModel);
        }
    </div>
</div>