@using Blog.Models
@model List<CategoryModel>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BLOG", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (CategoryModel categoryModel in Model)
                {
                    string categoryName = categoryModel.Name;
                    string categoryText = categoryName.ToUpper();

                    <li>@Html.ActionLink(categoryText, categoryName, "Categories", categoryName, new { })</li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-icon-anchor"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </div>
</div>
