<link rel="stylesheet" type="text/css" href="~/Content/Bar/search-bar.css" />

<div class="container" id="action-bar">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <input type="text" id="search-box" placeholder="Search" />
        </div>
    </div>
</div>

