body {
}

#post-block {
    margin-top: 30px;
}

.post-card {
    height: auto;
    margin-bottom: 30px;
}

.post-col-2 {
    padding-top: 0px;
}

.post-img {
    width: 160px;
    height: 140px;
    border-radius: 3px;
    box-shadow: 0px 2px 10px 1px #9E9E9E;
    margin-top: 10px;
}

.post-title, .post-summary, .post-author, .post-date {
    color: black;
}

.post-title {
    margin-top: 0px;
    font-weight: 800;
    font-size: 25px;
}

.post-date {
    font-size: 14px;
    font-weight: 600;
}

.post-summary {
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
}

.read-post-btn {
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
    outline: none;
    color: #0336ff;
    font-size: 14px;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    width: 50px;
}

.read-post-btn:hover {
    box-shadow: 0px 0px 4px 1px #E0E0E0;
}
