body {
}

#post-block {
    margin-top: 20px;
}

.post-section {
    margin-bottom: 80px;
}

.post-title, .post-category, .post-author, .post-date, .post-summary, .post-content{
    color: black;
    margin-bottom: 25px;
}

.post-title, .comment-title {
    margin-top: 0px;
    font-weight: 800;
    font-size: 30px;
}

.post-category {
    font-size: 17px;
    font-weight: 600;
}

.post-author {
    font-size: 15px;
    font-weight: 600;
}

.post-date {
    font-size: 13px;
    font-weight: 500;
}

.post-summary {
    font-size: 13px;
    font-weight: 400;
}

.post-content {
    font-size: 13px;
    font-weight: 400;
}